<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="">

    {% block css %}
    {% endblock css %}

    {% block js %}
    {% endblock js %}
    
    <title>
        {% block title %}{% endblock title %}
    </title>
</head>
<body>
    <section class="content" id="content">
    {% block content %}

    {% endblock %}
    </section>

    <footer>
        <div class="response-download hidden" id="rd"></div>
        <div class="footer">
            {% include "_language-dd.html" %}
            
        </div>
        
    </footer>
    
</body>
</html>